{% load staticfiles %}
<footer>
    <div class="jumbotron front-footer text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-xs-12">
                    <h3>All encounters are reunions after a long separation.</h3>
                    <p>Built by the <a href="http://yumendy.com/"><strong>Duan Yi</strong></a></p>
                    <p><small>↑这只喵求被带走。。所以有没有萌程序喵的妹纸哇w</small></p>
                    <p>POWER BY <strong>Django</strong></p>
                </div>
                <div class="col-md-5 col-xs-12">
                    <h2>CONTACT US</h2>
                    <img src="{% static 'image/FZer_qrcode.bmp' %}" alt="" class="img-rounded img-responsive">
                </div>
                <div class="col-md-12 col-xs-12 text-center copy-right">
                    <p>&copy; COPYRIGHT BY DuanYi 2016</p>
                </div>
            </div>
        </div>
    </div>
</footer>