{% extends 'website/frontend/frontend_base.html' %}

{% block title %}
    附中人十日CP专题活动
{% endblock %}

{% block external_header %}

{% endblock %}

{% block left %}
<div class="col-md-12 article">
    <div class="col-md-12 text-center">
        <h2 class="category-header">活动介绍</h2>
        <hr>
    </div>
    <div class="col-md-12 text-center">
        <p>在这个寒冷的冬季，</p>
        <p>作为孤单寂寞的单身贵（gou）族，</p>
        <p>你是不是也想有一个对你嘘寒问暖的人？</p>
        <p>是不是也想感受一下被人关心的滋味？</p>
        <p>那么欢迎来参加我们“十日cp”活动～</p>
        <p>附中人内部优质资源→_→</p>
        <p>你还在等待什么？</p>
        <p>赶紧来报名吧</p>
        <p>♡</p>
    </div>
    <div class="col-md-12">
        <p class="text-right"><small>2016-11-27 02:22:06</small></p>
    </div>
</div>
{% endblock %}