{% extends 'website/frontend/frontend_base.html' %}

{% block title %}
    附中人十日CP专题活动
{% endblock %}

{% block external_header %}

{% endblock %}

{% block left %}
<div class="col-md-12 article">
    <div class="col-md-12 text-center">
        <h2 class="category-header">活动介绍</h2>
        <hr>
    </div>
    <div class="col-md-12">
        <p>唐毛毛还妹有给我文案，段喵喵表示才不知道这里该肿么写呢╭(╯^╰)╮</p>
    </div>
    <div class="col-md-12">
        <p class="text-right"><small>2016-11-27 02:22:06</small></p>
    </div>
</div>
{% endblock %}