body {
    background-color: #eeeeee;
    font-family: "Segoe UI", "Microsoft YaHei UI", sans-serif, "Segoe MDL2 Assets", "Symbols";
    margin-top: 50px;
}

.front-header {
    background-color: #E08283;
}

.text-white {
    color: #ffffff;
}

.front-footer {
    background-color: #E08283;
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.contact-info {
    font-size: 22px;
}

.contact-info a {
    color: white;
}

.copy-right p {
    font-size: 15px;
}

.article {
    background-color: white;
    padding: 20px 30px;
    margin-bottom: 40px;
    box-shadow: #cccccc 5px 5px 20px;
}

.timelinebox {
    background-color: white;
    padding: 20px 30px;
    margin-bottom: 40px;
    box-shadow: #cccccc 5px 5px 20px;
}

.article img {
    max-width: 100%;
}

.category-header {
    color: #c0392b;
}

.category p {
    font-size: 16px;
}

.personal-info li {
    font-size: 16px;
}

footer a {
    color: #c0392b
}

footer a:hover {
    color:  #DB0A5B;
    text-decoration: None;
}