{% extends 'website/frontend/frontend_base.html' %}
{% load static %}


{% block title %}
    表白墙
{% endblock %}

{% block external_header %}
    <script type="text/javascript" src="{% static 'js/timeline.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/timeline.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
{% endblock %}

{% block left %}
    <div class="col-md-12 timelinebox">
        <div class="timeline animated">
            {% for paste in paste_list %}
                <div class="timeline-row">
                    <div class="timeline-time"><small>{{ paste.create_time|date:"Y-m-d" }}</small>{{ paste.create_time|time:"H:i:s" }}</div>
                    <div class="timeline-icon">
                        <div class="bg-primary"><i class="fa fa-pencil"></i></div>
                    </div>
                    <div class="panel timeline-content">
                        <div class="panel-body">
                            <p>TO {% if paste.grade %}{{ paste.grade }}届{% endif %}{% if paste.class_num %}{{ paste.class_num }}班{% endif %}{% if paste.grade or paste.class_num %}的{% endif %}{{ paste.name }}:</p>
                            <p>{{ paste.content }}</p>
                            <p>FROM:{% if paste.is_anonymous %}一位神秘的同学{% else %}{{ paste.author }}{% endif %}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% include 'utils/pagination.html' %}
    </div>
{% endblock %}